telegram-alert.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "cadastrar-alerta",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [-3280, 672],
            "id": "d9d9908e-6484-4d58-b197-dc90103d7ccc",
            "name": "Webhook",
            "webhookId": "1e79f8dd-bf36-482c-9771-0eba74d31289"
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 8
                        }
                    ]
                }
            },
            "id": "1676e7f0-aa77-4552-bf51-ad64d818c84c",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [-3280, 864]
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "alertas_clima",
                "returnAll": true
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [-3072, 864],
            "id": "d576902a-ec6e-493b-acad-f515b0784246",
            "name": "Get many rows",
            "credentials": {
                "supabaseApi": {
                    "id": "zqrMZWLPLe8EYeRf",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "url": "https://api.open-meteo.com/v1/forecast",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "latitude",
                            "value": "={{ $json.latitude }}"
                        },
                        {
                            "name": "longitude",
                            "value": "={{ $json.longitude }}"
                        },
                        {
                            "name": "daily",
                            "value": "temperature_2m_max,temperature_2m_min,precipitation_probability_max,weather_code"
                        },
                        {
                            "name": "timezone",
                            "value": "America/Sao_Paulo"
                        },
                        {
                            "name": "forecast_days",
                            "value": "1"
                        }
                    ]
                },
                "options": {}
            },
            "id": "790e2921-9d7f-47d6-b0ce-27d1d371d153",
            "name": "HTTP Request",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [-2848, 864]
        },
        {
            "parameters": {
                "jsCode": "const weatherCodes = {\n  0: \"Céu limpo ☀️\",\n  1: \"Principalmente limpo 🌤️\", 2: \"Parcialmente nublado ⛅\", 3: \"Encoberto ☁️\",\n  45: \"Nevoeiro 🌫️\", 48: \"Nevoeiro com rime 🌫️\",\n  51: \"Garoa leve 🌦️\", 61: \"Chuva leve 🌧️\", 63: \"Chuva moderada 🌧️\", 65: \"Chuva forte 🌧️\",\n  80: \"Pancadas de chuva leves 🌦️\", 95: \"Trovoada ⛈️\"\n};\n\nreturn $input.all().map(item => {\n  const daily = item.json.daily;\n  const code = daily?.weather_code?.[0];\n  \n  // Nova sintaxe correta e segura para recuperar o chat_id mapeado no Supabase\n  let chat_id = null;\n  if (item.pairedItem?.item !== undefined) {\n    chat_id = $item(item.pairedItem.item).$node[\"Get many rows\"].json[\"chat_id\"];\n  }\n\n  return {\n    json: {\n      chat_id: chat_id,\n      resumo: weatherCodes[code] || \"Condições variáveis\",\n      tempMax: daily?.temperature_2m_max?.[0],\n      tempMin: daily?.temperature_2m_min?.[0],\n      chuva: daily?.precipitation_probability_max?.[0]\n    }\n  };\n});"
            },
            "id": "3590d202-abe7-4e8c-863f-610e0b41bbf3",
            "name": "Formatar Clima",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [-2624, 864]
        },
        {
            "parameters": {
                "chatId": "={{ $json.chat_id }}",
                "text": "=Previsão de Hoje: {{ $json.resumo }}\n🌡️ Máxima: {{ $json.tempMax }}°C\n❄️ Mínima: {{ $json.tempMin }}°C\n☔ Chuva: {{ $json.chuva }}%",
                "additionalFields": {
                    "parse_mode": "HTML"
                }
            },
            "id": "4b76130c-15d4-4c3f-bd96-3499c16ab796",
            "name": "Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.1,
            "position": [-2400, 864],
            "webhookId": "e696ed13-cc36-4262-bf2d-1bb1d3c50080",
            "credentials": {
                "telegramApi": {
                    "id": "ygKtjdLi8vSJnCN4",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://tbvfelqmohmcffakavbp.supabase.co/rest/v1/alertas_clima?on_conflict=chat_id",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRidmZlbHFtb2htY2ZmYWthdmJwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mjc2MjI4NSwiZXhwIjoyMDk4MzM4Mjg1fQ.ifTLeT2OUTpr17B4AHXZgXEo1jl7eDtcVSdOBvmtZR0"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRidmZlbHFtb2htY2ZmYWthdmJwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mjc2MjI4NSwiZXhwIjoyMDk4MzM4Mjg1fQ.ifTLeT2OUTpr17B4AHXZgXEo1jl7eDtcVSdOBvmtZR0"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation,resolution=merge-duplicates"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "=chat_id",
                            "value": "={{ $json?.body?.chatId || $json?.body?.chat_id || $json?.chatId || $json?.chat_id }}"
                        },
                        {
                            "name": "=latitude",
                            "value": "={{ $json?.body?.latitude || $json?.latitude }}"
                        },
                        {
                            "name": "=longitude",
                            "value": "={{ $json?.body?.longitude || $json?.longitude }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [-3072, 672],
            "id": "0c2073b1-faa2-4957-acbe-c62f2b51b253",
            "name": "HTTP Request1"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "HTTP Request1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Get many rows",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get many rows": {
            "main": [
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request": {
            "main": [
                [
                    {
                        "node": "Formatar Clima",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Formatar Clima": {
            "main": [
                [
                    {
                        "node": "Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "fa8a7e26013f2b71baf499a41461c3a127cfb928bef90135c043a0049c998102"
    }
}
